<!-- Sidebar Header -->
<div class="sidebar-header">

  <div class="logo">
    <img src="/img/mnl_icon.png" alt="MANAGEMENT">
  </div>

  <button class="toggle-btn" onclick="toggleSidebar()">☰</button>

</div>

<!-- Menu -->
<a href="../admin.html" class="menu">
  📊 <span>DASHBOARD</span>
</a>


<a href="../mgt_staff.html" class="menu">
  👥 <span>STAFF</span>
</a>
<!--
<a href="/admin/mgt_company.html" class="menu">
  🏢 <span>COMPANY</span>
</a>
-->

<a href="#" class="menu logout-menu" onclick="logout(); return false;">
  🚪 <span>LOGOUT</span>
</a>